body {
    padding: 120px;
    font-family: sans-serif;
    background-image: url('http://celebrationentertainment.com/wp-content/uploads/2015/07/curtains-3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
}

h1 {
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 5px 2px 10px 3px black;
}

h3 {
    margin: 0;
    padding-bottom: 40px;
    font-size: 40px;
    text-align: center;
}

#img-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 300px;
}

#img-wrapper img {
    width: 25%;
    height: auto;
    border: solid 1px rgba(0,0,0,.3);
    padding: 10px;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,.3);
    cursor: pointer;
}